.sidebar{
    height: 100vh;
    flex-direction: column;
    flex: 0.2;
    padding-left: 10px;
    padding-right: 10px;
    min-width: 230px;
    color: white;
    background-color: #040404;
}
.sidebar > hr{
    border: 1px solid #282828;
    width: 90%;
    margin: 10px auto;
}
.sidebar__logo{
    margin-right: auto;
    height: 70px;
    object-fit: contain;

    padding: 10px;
}
.sidebar__title{
    margin-left: 10px;
    padding: 5px;
    font-size: 12px;
}

.sidebarOption > p{
    margin-top: 10px;
    margin-left: 20px;
    font-size: 14px;
}